* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav {
    background-color: #2874f0;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    font-family: 'Roboto', sans-serif;
     position: fixed;
     top: 0px;
     z-index: 1;
    
 
}

.logo img {

    height: 50px;
    margin-left: 50px;
    /* border: 2px solid red; */


}
.logo:hover{
    transform: scale(1.1);
}

.search {
    margin-left: 20px;
    margin-right: 20px;
    height: 35px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    border-radius: 2px;
    /* border: 2px solid red; */
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    max-width: 600px;
    min-width: 300px;
    width: 450px;

}

.search ::placeholder {

    margin-left: 20px;
    /* border: 2px solid red; */
    width: 100%;

}

.search img {
    width: 81%;
    margin-right: 5px;
    /* border: 2px solid red; */
    color: #2874f0;


}

.search input {
    border: none;
    outline: none;
    margin-left: 10px;
    width: 100%;

}

.loginbtn {
    background-color: white;
    font-size: 16px;
    padding: 4px 30px;
    border-radius: 2px;
    /* border: 2px solid red; */
    margin-right: 20px;
    position: relative;


}

.loginbtn a {
    text-decoration: none;
    color: #2874f0;
    font-weight: 550;

}

.login_menu {
    position: absolute;
    top: 25px;
    height: 300px;
    width: 250px;
    background-color: transparent;
/* background-color: red; */
    margin-left: -90px;
    display: none;
}

.loginbtn:hover .login_menu {
    display: block;
}

.login_list {
    position: absolute;
    top: 15px;
    font-size: 15px;
    background-color: white;
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 5, 5, 0.16) 0px 1px 4px;
}

.login_menu::before {
    position: absolute;
    top: 2px;
    left: 105px;
    content: "";
    /* width: 20px;
    height: 20px; */
    border-top: 0px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid white;

}

.login_menu_top a:nth-child(1) {

    color: rgb(43, 41, 41);
}

.login_menu_top {
    margin-top: 10px;
    font-size: 15px;
    margin-bottom: 20px;
}

.login_menu_top a {
    padding: 10px;
}

.myProfile {
    display: flex;
    justify-content: space-between;
    margin: 10px 100px 10px 20px;

}

.myProfile a:nth-child(2) {
    color: rgb(61, 57, 57);
    font-size: 13px;
}

.flikartPluseZone {
    margin: 10px 10px 10px 20px;
}

.flikartPluseZone i {
    font-size: 20px;
    color: #2874f0;
    margin-right: 30px;
}

.flikartPluseZone a {
    color: rgb(49, 47, 47);
    font-size: 13px;
}

.order {
    margin: 10px 10px 10px 20px;
}

.order i {
    font-size: 20px;
    color: #2874f0;
    margin-right: 30px;
}

.order a {
    color: rgb(49, 47, 47);
    font-size: 13px;
}

.wishlist {
    margin: 10px 10px 10px 20px;
}

.wishlist i {
    font-size: 20px;
    color: #2874f0;
    margin-right: 30px;
}

.wishlist a {
    color: rgb(49, 47, 47);
    font-size: 13px;
}

.reward {
    margin: 10px 10px 10px 20px;
}

.reward i {
    font-size: 20px;
    color: #2874f0;
    margin-right: 30px;
}

.reward a {
    color: rgb(49, 47, 47);
    font-size: 13px;
}

.Giftcard {
    margin: 10px 10px 10px 20px;
}

.Giftcard i {
    font-size: 20px;
    color: #2874f0;
    margin-right: 30px;
}

.Giftcard a {
    color: rgb(49, 47, 47);
    font-size: 13px;
}

.Seller {
    color: white;
    font-weight: 550;
    font-size: 16px;
    text-decoration: none;
    margin: 0px 20px;
}

.more a{
    color: white;
    font-weight: 550;
    font-size: 16px;
    text-decoration: none;
    margin: 0px 20px;
}
.more{
    position: relative;
}
.more_menu {
    position: absolute;
    top: 20px;
    height: 200px;
    width: 280px;
    background-color: transparent;
     margin-left: -90px;
    display: none;
    
}
.more:hover .more_menu{
display: block;
}
.more_list{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 16px;
    background-color:white;
    box-shadow: rgba(0, 5, 5, 0.16) 0px 1px 4px;
    padding: 20px 5px 20px 5px;
    
}

.more_menu::before {
    position: absolute;
    top: 2px;
    left: 120px;
    content: "";
    /* width: 20px;
    height: 20px; */
    border-top: 0px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid white;

}
.more_list>div>a:nth-child(1){
  color: #2874f0;
}
.more_list>div>a:nth-child(2){
    font-size: 13px;
    text-align: center;
    color: rgb(41, 38, 38);
   
}
.more_list>div{
    margin-bottom: 20px;
    margin: 10px 0px 10px 0px ;
}
.cart {
    color: white;
    font-weight: 550;
    font-size: 16px;
    text-decoration: none;
    margin: 0px 20px;
}
.cart a{
    color: white;
    text-decoration: none;
}

/* start 2nd nav */
#product{
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    text-align: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding-bottom: 20px;
    /* border: 2px solid red; */
    height: 140px;
    margin-top: 75px;
}
#product>div{
    /* border: 2px solid rgb(3, 3, 3); */
    width: 5%;
    margin: auto;
    margin-top: 20px;

}
#product>div a{
    text-decoration: none;
    font-size: 16px;
    color: black;
}
#product>div img{
   width: 100%;
}
#product>div:hover{
    transform: scale(1.2);
}
#imageSlider{
    width: 100%;
    height: 300px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin-top: 20px;
}

#imageSlider img{
    width: 100%;
    height: 300px;
}

#button{
    position: absolute;
    top: 340px;
    display: flex;
    justify-content: space-between;
    /* border: 20px solid red; */
    width: 100%;
    color: white;
    
    
}
#button button{
    width: 40px;
    height: 100px;
    font-size: 50px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    border: none;
    border-radius: 2px;
}
/* *************************best of electronic***************************** */
#besofelectronicContainer{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 300px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.viewmore{
    background-color: white;
    width: 200px;
    height: 100%;
    text-align: center;
    padding: 30px;
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
.viewmore h2{
    margin-top: 40px;
    font-size: 30px;
}
.viewmore img{
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    
}

.viewmore button{
    margin: 20px;
    padding: 5px;
    background-color: #2874f0;
    color: white;
    border: none;
    border-radius: 2px;
    font-size: 13px;
}
.electronicProducts{
    display: flex;
    width: 100%;
    /* background-color: white; */
   
    /* border: 2px solid; */
    
}
.electronicProducts div{
    width: 20%;
    text-align: center;
    /* border: 2px solid green; */
}
.electronicProducts img{
    width: 90%;
    height: 160px;
    margin: 10px;
    max-height: 210px ; 
    margin-bottom: 30px; 
}
.electronicProducts img:hover{
    transform: scale(1.1);
}
.electronicProducts p{
  margin: 10px;
  color: rgb(132, 142, 151);
}
.electronicProducts h3{
    margin: 10px;
  color: green;
}
/* beauty and toy */
#beautyContainer{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 300px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.beautyviewmore{
    background-color: white;
    width: 200px;
    height: 100%;
    text-align: center;
    padding: 30px;
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
.beautyviewmore h2{
    margin-top: 20px;
    font-size: 20px;
}
.beautyviewmore img{
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    
}

.beautyviewmore button{
    margin: 10px;
    padding: 5px;
    background-color: #2874f0;
    color: white;
    border: none;
    border-radius: 2px;
    font-size: 13px;
}
.beautyProducts{
    display: flex;
    width: 100%;
    /* background-color: white; */
   
    /* border: 2px solid; */
    
}
.beautyProducts div{
    width: 20%;
    text-align: center;
    /* border: 2px solid green; */
}
.beautyProducts img{
    width: 90%;
    height: 160px;
    margin: 10px;
    text-align: center;
    max-height: 210px ; 
    margin-bottom: 30px; 
}
.beautyProducts img:hover{
    transform: scale(1.1);
}
.beautyProducts p{
  margin: 10px;
  color: rgb(132, 142, 151);
}
.beautyProducts h3{
    margin: 10px;
  color: green;
}
/* /////////// sports////////////// */
#sportsContainer{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 320px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.sportsviewmore{
    background-color: white;
    width: 200px;
    height: 100%;
    text-align: center;
    padding: 30px;
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
.sportsviewmore h2{
    margin-top: 20px;
    font-size: 20px;
}
.sportsviewmore img{
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    
}

.sportsviewmore button{
    margin: 10px;
    padding: 5px;
    background-color: #2874f0;
    color: white;
    border: none;
    border-radius: 2px;
    font-size: 13px;
}
.sportsProducts{
    display: flex;
    width: 100%;
    /* background-color: white; */
   
    /* border: 2px solid; */
    
}
.sportsProducts div{
    width: 20%;
    text-align: center;
    /* border: 2px solid green; */
}
.sportsProducts img{
    width: 60%;
    height: 160px;
    margin: 20px;
    margin: 10px;
    text-align: center;
    max-height: 210px ; 
    margin-bottom: 30px; 
}
.sportsProducts img:hover{
    transform: scale(1.1);
}
.sportsProducts p{
  margin: 10px;
  color: rgb(132, 142, 151);
}
.sportsProducts h3{
    margin: 10px;
  color: green;
}
/* **********************************************footer********************************************************** */
footer{
    background-color: #172337;
    width: 100%;
    height: 400px;
    display: flex;
}
.left{
    display: flex;
    width: 60%;
    color: white;
    justify-content: space-around;
    margin-top: 100px;
    /* border: 2px solid red; */
   font-size: 15px;
   margin-right: 100px;
}
.left>div:nth-child(1){
    margin-left: 100px;
    display: flex;
    color: white;
    flex-direction: column;
}
.left>div:nth-child(1) a{
     text-decoration: none;
    color: white; 
    margin: 10px;
}
.left>div:nth-child(1) a:hover{
    text-decoration: underline;
}
.left>div:nth-child(2){
  
    display: flex;
    color: white;
    flex-direction: column;
}
.left>div:nth-child(2) a{
    text-decoration: none;
    color: white; 
    margin: 10px;
}
.left>div:nth-child(2) a:hover{
    text-decoration: underline;
}
.left>div:nth-child(3){
  
    display: flex;
    color: white;
    flex-direction: column;
}
.left>div:nth-child(3) a{
    text-decoration: none;
    color: white; 
    margin: 10px;
}
.left>div:nth-child(3) a:hover{
    text-decoration: underline;
}
.left>div:nth-child(4){
  
    display: flex;
    color: white;
    flex-direction: column;
}
.left>div:nth-child(4) a{
    text-decoration: none;
    color: white; 
    margin: 10px;
}
.left>div:nth-child(4) a:hover{
    text-decoration: underline;
}
.right{
    width: 40%;
   color: white;
   margin-top: 100px;
    /* border: 2px solid red; */
}


